<% if @parking.errors.any? %>
 <div>駐車場名と住所は必ず入力してください！</div>
<% end %>


<div class="container text-center">
  <div class="row p-5">

    <div class="col-1">
    </div>

    <div class= "col-10 p-1 text-center border border-info">
      <div class= "p-3" ><h1>NewPost</h1></div>
      <%= form_with model: @parking, url: public_parkings_path do |f| %>
        <div class="text-center p-2"><%= f.file_field :image, accept: "image/*" %></div>
        <div class="text-center p-2"><%= f.text_field :parking_name, placeholder: '駐車場名', size: "55x20" %></div>
        <div class="text-center p-2"><%= f.text_field :parking_operator, placeholder: '運営会社', size: "55x20" %></div>
        <div class="text-center p-2">
          <%= f.text_area :parking_address, placeholder: '住所', size: "54x5" %><br>
          <a>*郵便番号から番地までの記載をお願い致します。</a>
        </div>
        <div class="text-center p-2"><%= f.text_area :parking_fee_info, placeholder: 'サービス詳細', size: "54x5" %><br>
          <a>*料金/駐車可能台数などの記載をお願い致します。</a>
        </div>
        <div class="text-center p-2"><%= f.text_area :parking_review, placeholder: 'コメント', size: "54x5" %></div>
        <div class="text-center p-2"><%= f.text_field :input_tag, placeholder: 'タグをカンマで区切って入力してください。 例)駅近,太陽の塔', size: "55x20" %><br>
          <a>*主に駐車場利用の目的・地域の関連タグをつけてください。</a>
        </div>
        <div class="text-center p-2"><%= f.submit 'POST', class: 'rounded-0' %></div>
      <% end %>
    </div>


    <div class="col-1">
    </div>

  </div>
</div>





