<% if @user.errors.any? %>
 <div>ニックネームは１文字以上入力してください！</div>
<% end %>

<div class="container text-center">
  <div class="row p-5">

    <div class="col-1">
    </div>

    <div class= "col-10 p-1 text-center border border-success">
      <div class= "p-3" ><h1>PlofileEdit</h1></div>
      <%= form_with model: @user, url: public_user_path do |f| %>
      
      
        <div class="text-center p-2"><%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %></div>
        <div class="text-center p-2"><%= f.text_field :user_name, autofocus: true, id:"inputName", placeholder:"ニックネーム", size: "37x20" %></div>
        
        <div class= "row">
          <div class= "col-3"></div>
          <div class= "col-3">
            <div class="text-center p-2"><%= f.text_field :age_type, autofocus: true, id:"inputAgeType", placeholder:"年齢", size: "15x20" %></div>
          </div>
           <div class= "col-3">
            <div class="text-center p-2"><%= f.text_field :living_prefecture, autofocus: true, id:"inputlivingPrefecture", placeholder:"住まい", size: "15x20" %></div>
          </div>
          <div class= "col-3"></div>
        </div>
        
        <div class="text-center p-2"><%= f.text_area :biography, autofocus: true, id:"biography", placeholder:"自己紹介", size: "37x10" %></div>
        <div class="text-center p-2"><%= f.submit 'POST', class: 'btn border-dark rounded-0' %></div>
      
      <% end %>
    </div>


    <div class="col-1">
    </div>

  </div>
</div>