<div class="container pt-4">
  <div class="row">
    
    <div class="card col-md-3 col-sm-1 border border-success" style="width: 18rem; height: 400px;">
      <div class="card-body">
        <p class="card-text">
          <%= image_tag @user.get_profile_image(100,100) %>
          <p>Your Name： <%= @user.user_name %></p>
          <p>Age： <%= @user.age_type %></p>
          <p>Living： <%= @user.living_prefecture %></p>
          <p>Bio： <%= @user.biography %></p>
          <% if @user == current_user %>
          <p><%= link_to "Edit", edit_public_user_path %></p>
          <p><%= link_to "Say bye to us", public_unsubscribe_path(@user.id) %></p>
          <% end %>
        </p>
      </div>
    </div>
    <div class="col-9">
     <h3>Your Posts</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">駐車場名</th>
            <th scope="col">住所</th>
            <th scope="col">タグ</th>
            <th scope="col">コメント</th>
          </tr>
        </thead>
         <% @parkings.each do |parking| %>
        <tbody>
          <tr>
            <th scope="row">
              <!--↓data: {"turbolinks" => false}追加-->
              <%= link_to public_parking_path(parking.id), data: {"turbolinks" => false} do %>
              <%= parking.parking_name %>
              <% end %></th>
            <td><%= parking.parking_address %></td>
            <td>
              <% parking.tags.each do |hash_tag| %>
                <%= link_to hash_tag.tag_name, public_parkings_path(oreno_hash_tag: hash_tag.tag_name) %>
              <% end %>
            </td>
            <!--, data: {"turbolinks" => false} → link_toのturbolinksをオフにしてリロードが行われGマップが表示される-->
            <td><%= link_to "#{parking.post_comments.count} コメント", public_parking_path(parking.id), data: {"turbolinks" => false} %></td>
          </tr>
        </tbody>
        <% end %>
      </table>

      <h3>Your Marks</h3>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">駐車場名</th>
          </tr>
        </thead>
         <% @bookmarks.each do |bookmark| %>
        <tbody>
          <tr>
            <th scope="row">
              <!--, data: {"turbolinks" => false} → link_toのturbolinksをオフにしてリロードが行われGマップが表示される-->
              <%= link_to public_parking_path(bookmark.parking.id), data: {"turbolinks" => false} do %>
              <%= bookmark.parking.parking_name %>
              <% end %></th>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>