<!DOCTYPE html>
<html>
  <head>
    <title>LPC</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>


  <body>
    <header>
        <li>
          <%= link_to "Top", root_path %>
        </li>
        <li>
          <%= link_to "About", about_path %>
        </li>
      <% if user_signed_in? %>
        <li>
        <%= link_to 'Post', new_public_parking_path %>
        </li>
        <li>
        <%= link_to 'Members', public_user_path(current_user.id) %>
        </li>
        <li>
          <%= link_to "Sign_out", destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign_up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Sign_in", new_user_session_path %>
        </li>
      <% end %>
    </header>
    <footer>
       <% if admin_signed_in? %>
        <li>
        <%= link_to "Admin_sign_out", destroy_admin_session_path, method: :delete %>
        </li>
        <% else %>
        <li>
        <%= link_to "For_admin", admin_session_path %>
        </li>
      <% end %>
    </footer>
  <%= flash[:notice] %>
  <%= yield %>
  </body>
</html>
